@CHARSET "ISO-8859-1";
/*images with the same height*/
.crop {
    /*height: 300px;*/
    width: 16.66%;
    overflow: hidden;
}
.crop img {
    height: 100%;
    width: auto;
}

.txt {
	text-align: center;
	size: 2px;
	width: 50px;
}

.tmenu {
	width: 100%;
}

.tmenu td {
	width: 16.67%;
	height: 100px;
	text-align: center;
}

img {
	width: 80%;
	height: 80%;
}

.mp {
	width: 100%;
}

.prioridad {
	color: #ff8000;
}

.counter {
	position: absolute;
        left: 35%;
	top: 15px;
	font-size: 2em;
}

.b_pause {
	position: absolute;
	right: 65%;
	top: 10px;
	font-size: 3em;
}